@font-face {
   font-family: 'Raleway';
   src: url(./../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
   font-family: 'Open Sans';
   src: url(./../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
   font-family: 'Raleway';
}

.tabsmainwrapper {
   width: 1170px;
   margin: 0 auto;
   margin-bottom: 100px;
}

input {
   display: none;
}

label {
   font-family: 'Open Sans';
   display: inline-block;
   width: 200px;
   height: 35px;
   font-weight: 400;
   font-size: 14px;
   line-height: 35px;
   text-align: center;
   cursor: pointer;
}

input[type="radio"]:checked+label {
   border: 1px solid #C6CBCD;
   border-radius: 10px 10px 0px 0px;
   border-bottom: none;
   margin-bottom: -1px;
   background-color: #fffffff7;
}

.tabsmainwrapper>.content {
   display: none;
}

#tabsbtn1:checked~#content1,
#tabsbtn2:checked~#content2,
#tabsbtn3:checked~#content3 {
   display: block;
}

.content {
   box-sizing: border-box;
   width: 1170px;
   height: 501px;
   border: 1px solid #C6CBCD;
   margin-top: -1px;
}

.left {
   margin: 0px 30px 54px 100px;
   width: 570px;
   height: 446px;
   float: left;
}

.left__name {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 29px;
   margin-top: 50px;
}

.left__firstparag {
   font-weight: 400;
   font-size: 18px;
   margin-top: 60px;
   color: black;
}

.left__secondparag {
   font-weight: 400;
   font-size: 18px;
   margin-top: 30px;
   margin-bottom: 27px;
   color: black;
}

.left__btn {
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   width: 270px;
   height: 58px;
   text-align: center;
   line-height: 58px;
   color: white;
   background-color: #EC7979;
   border: 1px solid #EC7979;
   margin-top: 80px;
}

.content__image {
   width: 100%;
   max-width: 463px;
   height: 100%;
}

.mainwrapper {
   width: 1170px;
   padding: 0 15px;
   text-align: center;
   margin: 0 auto;
}

.mainwrapper__section_name {
   font-weight: 400;
   font-size: 36px;
}

.mainwrapper__separator {
   width: 170px;
}

.mainwrapper__text {
   color: #86878B;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 80px;
}

.mainwrapper__item {
   width: 307px;
   display: inline-block;
   margin-bottom: 30px;
}

.box {
   padding: 5px 10px 5px 10px;
}

.box__image {
   width: 170px;
   height: 170px;
}

.box__name {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
}

.box__text {
   font-weight: 400;
   font-size: 18px;
}

.backgroundwrapper {
   width: 100%;
   height: 900px;
   padding-top: 1px;
   background-color: #F5F5F5;
   text-align: center;
   margin: 0 auto;
}

div.sectionwrapper__list {
   margin-top: 75px;
}

.sectionwrapper__list {
   width: 370px;
   display: inline-block;
   margin-bottom: 1px;
   margin-top: 1px;
}

div.sectionwrapper__list:nth-of-type(2) {
   margin-right: 30px;
   margin-left: 30px;
}

.firstlist:hover,
.secondlist:hover,
.thirdlist:hover {
   transform: translate(0, -30px);
   box-shadow: 0px 5px 20px 0px black;
   cursor: pointer;
}

.sectionwrapper__name {
   font-weight: 400;
   font-size: 36px;
   margin: 69px 0px 40px 0px;
}

.sectionwrapper__line {
   width: 170px;
}

.sectionwrapper__text {
   font-weight: 400;
   font-size: 18px;
   color: #86878B;
   margin: 40px 0px 0px 0px;
}

.name {
   background-color: black;
   color: white;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   height: 60px;
   line-height: 60px;
}

.price {
   background-color: black;
   color: white;
   font-weight: 700;
   font-size: 36px;
   height: 100px;
   line-height: 100px;
}

.cost {
   background-color: black;
   color: rgba(255, 255, 255, 0.5);
   font-weight: 400;
   font-size: 18px;
   height: 50px;
   line-height: 50px;
}

.item {
   height: 50px;
   line-height: 50px;
   color: #86878B;
   background-color: white;
}